* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("../../assets/gray-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 100%;
  object-fit: cover;
  display: inline-block;
}

.cta {
  text-decoration: none;
  border-radius: 1.5rem;
  padding: 0.8rem 2.2rem;
  text-transform: capitalize;
  color: #3e3e3e;
  background-color: #fbfdfe;
  font-size: 1.2rem;
}

.cta-dark {
  background-color: #3d5a98;
  color: #fbfdfe;
}

header {
  background-image: url("/assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

header .container {
  max-width: 90%;
  margin: 0 auto;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.hero__mssg {
  height: 80%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fbfdfe;
  padding: 0.5rem 0;
}

.hero__mssg-details {
  width: 90%;
  margin: 0 auto;
}

.hero__mssg-details h1 {
  text-transform: uppercase;
  font-size: 1.7rem;
}

.hero__mssg-details h1 span {
  font-size: 4rem;
  display: block;
}

.hero__mssg-details h2 {
  font-family: cursive;
  font-weight: 300;
}

.hero__mssg-ctas {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.hero__ctas {
  height: 80%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.services {
  padding: 68px 0 0 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.services__detail {
  grid-column: 2;
  grid-row: 1 / span 2;
  background-color: #e6ecee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 60px 30px;
  order: 3;
}

.services__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
  padding: 40px 30px;
}

.services__title .title-our {
  color: #627000;
}

.services__title .title-services {
  color: #382f20;
}

.services__item {
  border-top: 2px solid;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 40px 10px 0;
  max-width: 500px;
}

.services__item-number {
  color: #666769;
  font-size: 2.7rem;
  letter-spacing: 3px;
  margin: 10px 20px 10px 10px;
  padding-right: 10px;
}

.services__item-detail h4 {
  font-size: 2.3rem;
}

.services__item-detail .one {
  color: #737373;
}

.services__item-detail .two {
  color: #6f7259;
}

.services__item-detail .three {
  color: #8d8740;
}

.services__item-detail p {
  font-size: 1.3rem;
}

.services__graphic {
  max-width: 80%;
  margin: 0 auto;
}

.services__graphic img {
  width: 100%;
}

.events__header {
  background-color: #fff;
  padding: 2.3rem 0;
}

.events__header .container {
  max-width: 90%;
  margin: 0 auto;
}

.events__header h1 {
  font-size: 2.7rem;
  text-transform: capitalize;
  color: #737373;
}

.events__header h1 span:first-of-type {
  color: #b2633c;
}

.events__header h1 span:last-of-type {
  color: #a67f6d;
}

.events__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 90%;
  margin: 0 auto;
  gap: 3rem;
}

.events__items {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fbfdfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.events__item {
  display: flex;
  align-items: center;
}

.events__item-graphic {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.events__item-graphic i {
  font-size: 5rem;
}

.events__item-details {
  max-width: 75%;
  margin-left: auto;
}

.events__item-details h3 {
  font-size: 1.2rem;
  color: #fbfdfe;
}

.events__item-details h3 span:first-of-type {
  color: #b2633c;
}

.events__item-details h3 span:last-of-type {
  color: #a67f6d;
}

.donation {
  margin-top: 5rem;
}

.donation .container {
  max-width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}

.donation__info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.donation__info h1 {
  width: 100%;
  font-size: 2.7rem;
  text-transform: capitalize;
}

.donation__info h1 span:first-of-type {
  color: #a52a2a;
}

.donation__info h1 span:last-of-type {
  color: #deb887;
}

.donation__info p {
  margin: 2rem 0;
}

.donation__cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a52a2a;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  color: #fff;
  border: 2px solid transparent;
  font-size: 1.2rem;
}

.donation__cta i {
  margin-right: 1rem;
}

.donation__cta:hover {
  border: 2px solid #a52a2a;
  background-color: transparent;
  color: #a52a2a;
}

.newsletter {
  background-color: #0e0808;
  color: #fff;
  padding: 2rem 0 2rem 0;
}

.newsletter__container {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: center;
  margin: 0 auto;
}

.newsletter__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.newsletter__info h2 {
  font-size: 4rem;
  text-transform: capitalize;
}

.newsletter__info h2 span:first-of-type {
  color: #a52a2a;
}

.newsletter__info h2 span:last-of-type {
  color: #deb887;
}

.newsletter__form-group {
  display: flex;
  flex-direction: column;
}

.newsletter__form-group label {
  text-transform: capitalize;
}

.newsletter__form-group input {
  font-size: 1rem;
  padding: 0.5rem 0;
  margin-top: 0.7rem;
  border: none;
}

.newsletter__form-submit {
  margin-top: 1rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: darkgray;
  color: #0e0808;
  border: 2px solid transparent;
  cursor: pointer;
}

.newsletter__form-submit:hover {
  background-color: #0e0808;
  color: darkgray;
  border: 2px solid darkgray;
}

.newsletter__graphic img {
  width: 100%;
}

.contact {
  margin-top: 5rem;
}

.contact .container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}

.contact__graphic h1 {
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.contact__graphic h1 span {
  color: #a52a2a;
}

.contact__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__info {
  margin: 1rem 0;
}

.contact__media {
  display: flex;
  align-items: center;
  max-width: 33%;
}

.contact__media a {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2rem;
}

.contact__media a:first-of-type {
  color: #00acee;
}

.contact__media a:nth-of-type(2) {
  background: -webkit-linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact__media a:last-of-type {
  color: #3b5998;
}

.question-section {
  margin-top: 5rem;
}

.question-section .header-container {
  width: 90%;
  margin: 0 auto;
}

.question-section h1 {
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.question-section .content-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.question-section .form-container {
  display: flex;
  flex-direction: column;
}

.question-section .form-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto 0;
}

.question-section .form-container form input {
  font-size: 1.2rem;
  width: 80%;
  padding: 1rem 0.5rem;
}

.question-section .form-container form textarea {
  width: 80%;
  margin-top: 1rem;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  resize: none;
}

.question-section .form-container form button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a52a2a;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  color: #fff;
  border: 2px solid transparent;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.question-section .form-container form button i {
  margin-left: 1rem;
}

.question-section .form-container form button:hover {
  border: 2px solid #a52a2a;
  background-color: transparent;
  color: #a52a2a;
}

footer {
  text-align: center;
  margin: 5rem 0 1rem 0;
}

/*///////////////////////// Questions css /////////////////////////////////// */
@media screen and (max-width: 1024px) {
  .events__details {
    padding-top: 0.1rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .newsletter__container {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 700px) {
  .header {
    color: black;
    font-size: 1.8rem;
    padding: 0;
    color: #483923;
    font-family: ovo;
  }
  .header-container {
    width: 100%;
    padding-bottom: 0;
    padding-top: 30px;
    background: transparent;
    display: flex;
    justify-content: center;
  }
  .content-container {
    width: 100%;
    display: flex;
    flex-flow: column-reverse nowrap;
    margin: auto;
  }
  .content-container .form-container,
  .question-img {
    margin: auto;
    margin-bottom: 10px;
    flex-basis: 45%;
  }
  .form-container {
    width: 90%;
    height: 40%;
    margin: 10px auto;
    color: white;
  }
  .wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
  }
  .form-intro {
    flex: 1;
    width: 70%;
    font-size: 1rem;
    margin: auto;
    padding-bottom: 20px;
  }
  .question-img {
    width: 90%;
    height: 150px;
  }
  #title {
    height: 30px;
  }
  #title,
  #text-box {
    width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    border: solid 4px white;
    background: transparent;
    color: white;
  }
  #title::placeholder,
  #text-box::placeholder {
    color: silver;
    text-align: center;
  }
  #title:focus,
  #text-box:focus {
    width: 83%;
    font-size: 24px;
    color: #d1d1d1;
    border: solid 4px white;
    outline: none;
  }
  #text-boxs {
    height: 25vw;
  }
  #form-btn {
    width: 40%;
    margin: 10px 30px 0 auto;
    border: solid 4px white;
    color: silver;
    background: transparent;
    border-radius: 30px;
    padding: 5px 10px;
  }
  .services {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .services__detail {
    padding: 30px;
    order: 2;
  }
  .services__title {
    padding: 30px 10px 70px;
    order: 1;
    font-size: 2rem;
  }
  .services__item {
    padding: 10px 10px;
    max-width: 500px;
  }
  .services__item-detail h4 {
    font-size: 1.7rem;
  }
  .services__item-detail p {
    font-size: 1rem;
  }
  .services__graphic {
    margin: 20px auto;
    order: 3;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1030px) {
  .content-container {
    width: 80%;
    display: flex;
    flex-flow: column-reverse nowrap;
    margin: 150px auto;
  }
  .content-container .form-container,
  .question-img {
    margin: auto;
    margin-bottom: 10px;
    flex-basis: 45%;
  }
  .form-container {
    width: 90%;
    margin: 10px auto;
    color: black;
  }
  .wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
  }
  .form-intro {
    flex: 1;
    width: 70%;
    font-size: 1rem;
    margin: auto;
    padding-bottom: 20px;
    color: white;
  }
  .question-img {
    width: 90%;
    height: 150px;
  }
  #title {
    height: 30px;
  }
  #title,
  #text-box {
    width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    border: solid 4px white;
    background: transparent;
    color: white;
  }
  #title::placeholder,
  #text-box::placeholder {
    color: black;
    text-align: center;
  }
  #title:focus,
  #text-box:focus {
    width: 83%;
    font-size: 24px;
    color: #d1d1d1;
    border: solid 4px white;
    outline: none;
  }
  #text-boxs {
    height: 25vw;
  }
  #form-btn {
    width: 40%;
    margin: 10px 7vw 0 auto;
    border: solid 4px white;
    color: silver;
    background: transparent;
    border-radius: 30px;
    padding: 5px 10px;
  }
  .social-media {
    height: 750px;
  }
  .scl-links-wrapper {
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
  }
  .img-cell {
    width: 25%;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
    margin-top: 90px;
    z-index: 1;
  }
  .white-wall {
    display: none;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -11px;
    margin-bottom: 100px;
  }
  .services {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }
  .services__detail {
    padding: 30px;
    order: 2;
  }
  .services__title {
    padding: 30px 10px 70px;
    order: 1;
  }
  .services__item {
    padding: 10px 10px;
    max-width: 500px;
  }
  .services__item-detail h4 {
    font-size: 1.7rem;
  }
  .services__graphic {
    margin: 20px auto;
    order: 3;
  }
}
/*# sourceMappingURL=main.css.map */