@media screen and (max-width: 1024px) {
  .events {
    &__details {
      padding-top: 0.1rem;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .newsletter {
    &__container {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

@media (max-width: 700px) {
  header {
    display: none;
  }
  .mobile-header {
    display: block;
    position: absolute;
    img {
      max-width: 70%;
    }
  }

  .events {
    &__content {
      display: flex;
      flex-direction: column-reverse;
    }
    &__item {
      margin: 1rem 0;
    }
  }

  .donation {
    .container {
      display: flex;
      flex-direction: column;
    }
  }

  .question-section {
    margin: auto;
    align-content: center;
  }
  .header {
    color: black;
    font-size: 1.8rem;
    padding: 0;
    color: #483923;
    font-family: ovo;
  }
  .header-container {
    width: 100%;
    padding-bottom: 0;
    padding-top: 30px;
    background: transparent;
    display: flex;
    justify-content: center;
  }

  .content-container {
    width: 100%;
    display: flex;
    flex-flow: column-reverse nowrap;
    margin: auto;
  }

  .content-container .form-container,
  .question-img {
    margin: auto;
    margin-bottom: 10px;
    flex: 1 1 40%;
  }

  .form-container {
    width: 90%;
    height: 20rem;
    margin: auto;
    color: white;
    padding: 20px;
    background: rgba(49, 49, 49, 0.808);
  }

  .form-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
  }

  .form-intro {
    width: 70%;
    font-size: 1rem;
    margin: 0 auto;
  }

  .question-img {
    width: 90%;
    height: 150px;
  }

  #title {
    height: 30px;
  }

  #title,
  #text-box {
    width: 80%;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    border: solid 4px white;
    background: transparent;
    color: white;
  }

  #title::placeholder,
  #text-box::placeholder {
    color: rgb(192, 192, 192);
    text-align: center;
  }
  #title:focus,
  #text-box:focus {
    width: 83%;
    font-size: 24px;
    color: rgb(209, 209, 209);
    border: solid 4px white;
    outline: none;
  }

  .question-section .form-container form button i {
    margin-left: 0.5rem;
  }
  #text-boxs {
    height: 25vw;
  }

  #form-btn {
    width: 40%;
    margin: 10px 30px 0 auto;
    border: solid 4px white;
    color: rgb(192, 192, 192);
    background: transparent;
    border-radius: 30px;
    padding: 5px 10px;
  }
  //////////////Social Medial ////////////////
  // .social-media {
  //   height: 100%;
  //   padding-bottom: 50px;
  // }
  // .title-wrapper {
  //   position: relative;
  //   top: 8px;
  //   margin: auto;
  //   width: 90%;
  //   height: 50%;
  //   background-color: rgba(36, 36, 36, 0.596);
  //   color: white;

  //   .social-media-title2,
  //   .social-media-detail {
  //     width: 90%;
  //     text-align: center;
  //     margin: auto;
  //   }

  //   .social-media-detail {
  //     font-size: 1.5rem;
  //   }
  //   .social-media-title2 {
  //     font-size: 3rem;
  //   }
  // }

  // .scl-links-wrapper {
  //   width: 90%;
  //   height: 20%;
  //   margin: auto;
  //   margin-top: 20px;
  //   display: flex;
  //   justify-content: center;

  //   .img-cell {
  //     flex: 1 1 100%;
  //     margin-top: 0;
  //   }
  // }

  // #links-container {
  //   display: block;
  // }
  // #media-links {
  //   text-decoration: none;
  //   color: black;

  //   &::visited {
  //     text-decoration: none;
  //   }
  // }

  // .white-wall,
  // .scl-links,
  // .social-media-title,
  // #img-cell2,
  // #img-cell3 {
  //   display: none;
  // }

  //////////////Services ////////////////
  .services {
    padding-top: 30px;
    display: flex;
    flex-direction: column;

    &__detail {
      padding: 30px;
      order: 2;
    }

    &__title {
      padding: 30px 10px 70px;
      order: 1;
      font-size: 2rem;
    }

    &__item {
      padding: 10px 10px;
      max-width: 500px;

      &-detail {
        h4 {
          font-size: 1.7rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    &__graphic {
      margin: 20px auto;
      order: 3;
    }
  }
}

@media only screen and (min-width: 701px) and (max-width: 1030px) {
  
  /////////////////////Social Media Section //////////////////

  // .social-media {
  //   height: 750px;
  // }
  // .scl-links-wrapper {
  //   width: 90%;
  //   height: 300px;
  //   margin: auto;
  //   display: flex;
  //   flex-flow: row nowrap;

  //   padding: 5px;
  // }

  // .img-cell {
  //   width: 25%;
  //   height: 100%;
  //   flex: 1 1 auto;
  //   display: flex;
  //   flex-flow: row wrap;

  //   margin: 5px;
  //   margin-top: 90px;
  //   z-index: 1;
  // }

  // .white-wall {
  //   display: none;
  //   width: 100%;
  //   height: 200px;
  //   position: absolute;
  //   bottom: -11px;
  //   margin-bottom: 100px;
  // }

  ////////////Services ////////////////
  .services {
    padding-top: 30px;
    display: flex;
    flex-direction: column;

    &__detail {
      padding: 30px;
      order: 2;
    }

    &__title {
      padding: 30px 10px 70px;
      order: 1;
    }

    &__item {
      padding: 10px 10px;
      max-width: 500px;

      &-detail {
        h4 {
          font-size: 1.7rem;
        }
      }
    }

    &__graphic {
      margin: 20px auto;
      order: 3;
    }
  }
}
