@import "./config";

// This will be the overall styling for desktop etc

// Header
header {
  background-image: url("/assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}
.mobile-header {
  display: none;
}
.hero {
  // border: solid purple;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  &__mssg {
    // border: solid green;
    height: 80%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fbfdfe;
    padding: 0.5rem 0;
    &-details {
      // border: solid red;
      width: 90%;
      margin: 0 auto;
      h1 {
        text-transform: uppercase;
        font-size: 1.7rem;
        span {
          font-size: 4rem;
          display: block;
        }
      }
      h2 {
        font-family: cursive;
        font-weight: 300;
      }
    }
    &-ctas {
      // border: solid orange;
      display: flex;
      width: 90%;
      margin: 0 auto;
      justify-content: space-between;
    }
  }
  &__ctas {
    // border: solid red;
    height: 80%;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
}

// Nav
.main-nav {
  // border: solid red;
  position: sticky;
  top: 0;
  z-index: 5;
  &__header {
    margin: 1rem 0;
    text-align: right;
    padding: 0 5%;
  }
  &__toggler {
    background-color: transparent;
    font-size: 2.5rem;
    color: $header-brown;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  &__items {
    border: solid blue;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 5%;
    display: none;
  }
  &__item {
    margin: 1.5rem 0;
    list-style: none;
  }
  &__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
  }
}

// Services
.services {
  padding: 68px 0 0 0;
  display: grid;
  grid-template-columns: 50% 50%;

  &__detail {
    grid-column: 2;
    grid-row: 1 / span 2;
    background-color: #e6ecee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px 30px;
    order: 3;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
    padding: 40px 30px;

    .title-our {
      color: #627000;
    }

    .title-services {
      color: #382f20;
    }
  }

  &__item {
    border-top: 2px solid;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 40px 10px 0;
    max-width: 500px;

    &-number {
      color: #666769;
      font-size: 2.7rem;
      letter-spacing: 3px;
      margin: 10px 20px 10px 10px;
      padding-right: 10px;
    }

    &-detail {
      h4 {
        font-size: 2.3rem;
      }

      .one {
        color: #737373;
      }

      .two {
        color: #6f7259;
      }

      .three {
        color: #8d8740;
      }

      p {
        font-size: 1.3rem;
      }
    }
  }

  &__graphic {
    max-width: 80%;
    margin: 0 auto;

    #service-img {
      width: 100%;
    }
  }
}

// events
.events {
  &__header {
    background-color: #fff;
    padding: 2.3rem 0;
    .container {
      max-width: 90%;
      margin: 0 auto;
    }
    h1 {
      font-size: 2.7rem;
      text-transform: capitalize;
      color: #737373;
      span:first-of-type {
        color: #b2633c;
      }
      span:last-of-type {
        color: #a67f6d;
      }
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    margin: 0 auto;
    gap: 3rem;
  }
  &__items {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fbfdfe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  &__item {
    display: flex;
    align-items: center;
    &-graphic {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 5rem;
      }
    }
    &-details {
      // border: solid green;
      max-width: 75%;
      margin-left: auto;
      h3 {
        font-size: 1.2rem;
        color: #fbfdfe;
        span:first-of-type {
          color: #b2633c;
        }
        span:last-of-type {
          color: #a67f6d;
        }
      }
    }
  }
}

// Donation
.donation {
  margin-top: 5rem;
  .container {
    max-width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
  }
  &__info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h1 {
      width: 100%;
      font-size: 2.7rem;
      text-transform: capitalize;
      // font-weight: 400;
      span {
        &:first-of-type {
          color: $header-brown;
        }
        &:last-of-type {
          color: $ivory-brown;
        }
      }
    }
    p {
      margin: 2rem 0;
    }
  }
  &__cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $header-brown;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    color: #fff;
    border: 2px solid transparent;
    font-size: 1.2rem;
    i {
      margin-right: 1rem;
    }
    &:hover {
      border: 2px solid $header-brown;
      background-color: transparent;
      color: $header-brown;
    }
  }
}

// newsletter
.newsletter {
  background-color: #0e0808;
  color: #fff;
  padding: 2rem 0 2rem 0;
  &__container {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
    margin: 0 auto;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    h2 {
      font-size: 4rem;
      // font-weight: 400;
      text-transform: capitalize;
      span:first-of-type {
        color: #a52a2a;
      }
      span:last-of-type {
        color: #deb887;
      }
    }
  }
  &__form {
    &-group {
      display: flex;
      flex-direction: column;
      label {
        text-transform: capitalize;
      }
      input {
        font-size: 1rem;
        padding: 0.5rem 0;
        margin-top: 0.7rem;
        border: none;
      }
    }
    &-submit {
      margin-top: 1rem;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 110px;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      background-color: darkgray;
      color: #0e0808;
      border: 2px solid transparent;
      cursor: pointer;
      &:hover {
        background-color: #0e0808;
        color: darkgray;
        border: 2px solid darkgray;
      }
    }
  }
  &__graphic {
    #service-img {
      width: 100%;
    }
  }
}

/* ///////////////////////// Donations CSS //////////////////////////////////*/
/* added mobile ability */

.donation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .donation {
    flex-direction: column;
  }
}

.donationtitle {
  display: flex;
  font-family: "Cormorant Garamond", serif;
  font-size: 4.5rem;
  color: rgba(1, 1, 1, 0.65);
  background-color: transparent;
  position: relative;
  top: -180%;
  left: 110%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 100%;
  margin-top: 10px;
  overflow-wrap: break-word;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .donationtitle {
    width: 100%;
    left: 50%;
    top: 15%;
  }
}

.donationpara {
  display: flex;
  font-family: "Cormorant Garamond", serif;
  background-color: rgba(1, 1, 1, 0.7);
  font-size: 1.7rem;
  color: white;
  position: relative;
  margin-top: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50%;
  min-width: 50%;
  top: -160%;
  left: 70%;
  height: auto;
  text-align: center;
  overflow-wrap: break-word;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .donationpara {
    width: 100%;
    left: 50%;
    float: none;
    font-size: 1rem;
  }
}

.a {
  color: burlywood;
}

.diff {
  color: brown;
}

.donationimg {
  width: 40%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .donationimg {
    object-fit: cover;
    width: 100%;
    padding-top: 5%;
    margin: 0;
  }
}

.learnmore {
  top: -10.5rem;
  left: 67%;
  transform: translate(-155%, -50%);
  border-radius: 20px;
  border: none;
  color: rgb(30, 90, 0);
  background-color: transparent;
  padding: 0.5vw;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  white-space: nowrap;
  display: flex;
  overflow-wrap: break-word;
}

.learnmore:hover,
.learnmore:active {
  letter-spacing: 5px;
}

.learnmore,
.learnmore {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: inline-flex;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  flex-direction: column;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .learnmore {
    top: 4rem;
    left: 45%;
    padding-top: 10px;
    font-size: 25px;
  }
}

/* 
.goback {
  top: .5rem;
  left: 40%;
  transform: translate(-155%, -50%);
  border-radius: 20px;
  border: none;
  color: rgb(30, 90, 0);
  background-color: transparent;
  padding: .5vw;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}

.goback:hover,
.goback:active {
  letter-spacing: 5px;
}

.goback,
.goback {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
} */

.donbtns {
  width: 100%;
}

/* //////////////////////// Contact Section css /////////////////////////////*/

.contact-header {
  background-color: white;
  display: grid;
  float: left;
  width: 50%;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .contact-header {
    width: 100%;
    margin: 0;
    height: auto;
  }
}

.contacttitle {
  font-size: 4rem;
  color: darkgrey;
  padding-top: 2%;
  text-align: center;
}

.tact {
  color: burlywood;
}

.us {
  color: brown;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .contacttitle {
    text-align: center;
  }
}

.contactimg {
  width: 100%;
  height: auto;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 0;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .contactimg {
    width: 100%;
    padding-left: 0;
  }
}

.contact-section {
  background-image: url("../../assets/gray-background.jpg");
}

.contactus {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contactOne {
  text-align: center;
  padding: 1%;
  padding-top: 1%;
}

.contactTwo {
  text-align: center;
  padding: 1%;
  padding-top: 1%;
}

.contactThree {
  text-align: center;
  padding: 1%;
  padding-top: 1%;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .contactus {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.contactSection {
  padding-top: 2%;
}

span {
  align-items: center;
}

.fa-facebook-square {
  font-size: 64px;
  color: #3b5998;
  background-image: linear-gradient(
      to bottom,
      transparent 20%,
      white 20%,
      white 93%,
      transparent 93%
    )
    url("../../assets/gray-background.jpg");
  padding-right: 7.5%;
  padding-left: 10%;
  background-color: transparent;
}

.fa-whatsapp {
  font-size: 64px;
  color: rgb(74, 201, 89);
  padding-right: 7.5%;
  background-color: transparent;
}

.fa-whatsapp:hover {
  background: transparent;
  color: rgb(74, 201, 89);
}

.fa-linkedin {
  font-size: 64px;
  color: rgb(40, 103, 178);
  padding-right: 7.5%;
  background-color: transparent;
}

.fa-twitter-square {
  font-size: 64px;
  color: rgb(29, 161, 242);
  padding-right: 4.5%;
  background-color: transparent;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .contactSection {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 10%;
  }
}

/*///////////////////////// Questions css /////////////////////////////////// */
.question-section {
  background-image: url("../../assets/gray-background.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
  margin-top: 250px;
}

.header {
  font-size: 5vw;
  color: #a67f6d;
  font-family: ovo;
  text-align: center;
  margin: auto 0;
}

.header-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  height: 80%;
  margin: auto;
}

.header-container {
  width: 100%;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.content-container {
  width: 80%;
  display: flex;
  flex-wrap: row wrap;
  margin: 150px auto;
}

.content-container .form-container,
.question-img {
  margin: auto;
  flex-basis: 45%;
}

.form-container {
  width: 50%;
  height: 30%;
  color: black;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0;
  position: relative;
}

.form-wrapper {
  display: flex;
  flex-flow: column wrap;
  margin: auto 0;
  height: 10%;
}

.form-intro {
  width: 50%;

  font-size: 1rem;
  margin: auto;
  padding-bottom: 20px;
}

.question-img {
  width: 50%;
  height: 400px;
}
// Contact
.contact {
  margin-top: 5rem;
  .container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
  }
  &__graphic {
    h1 {
      font-size: 2.7rem;
      margin-bottom: 2rem;
      span {
        color: #a52a2a;
      }
    }
  }
  &__details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__info {
    margin: 1rem 0;
  }
  &__media {
    display: flex;
    align-items: center;
    max-width: 33%;
    a {
      display: inline-block;
      margin-right: 2rem;
      font-size: 2rem;
      &:first-of-type {
        color: #00acee;
      }
      &:nth-of-type(2) {
        background: -webkit-linear-gradient(
          43deg,
          #4158d0 0%,
          #c850c0 46%,
          #ffcc70 100%
        );
        // -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:last-of-type {
        color: #3b5998;
      }
    }
  }
}

.question-section {
  margin-top: 5rem;
  .header-container {
    width: 90%;
    margin: 0 auto;
  }
  h1 {
    font-size: 2.7rem;
    margin-bottom: 2rem;
  }
  .content-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
  }

  .question-img,
  .form-container {
    flex: 0 1 40%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    form {
      // border: solid orange;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 60%;
      margin: auto 0;
      input {
        font-size: 1.2rem;
        width: 80%;
        padding: 1rem 0.5rem;
      }
      textarea {
        width: 80%;
        margin-top: 1rem;
        padding: 0 0.5rem;

        font-size: 1.2rem;
        resize: none;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $header-brown;
        cursor: pointer;
        padding: 0.5rem 1.5rem;
        border-radius: 2rem;
        color: #fff;
        border: 2px solid transparent;
        font-size: 1.2rem;
        margin-top: 2rem;
        i {
          margin-left: 1rem;
        }
        &:hover {
          border: 2px solid $header-brown;
          background-color: transparent;
          color: $header-brown;
        }
      }
    }
  }
}

footer {
  text-align: center;
  margin: 1rem 0;
}

/*///////////////////////// Questions css /////////////////////////////////// */

/*# sourceMappingURL=main.css.map */

@import "./mobile";
