@import "./config";

// This will be the overall styling for desktop etc

/* /////////////////////Social Media Styling ////////////// */
body {
  background-image: url("../../assets/gray-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.social-media {
  height: 650px;
}

.title-wrapper {
  position: relative;
  top: 80px;
  margin-left: 100px;
  padding-bottom: 20px;
}
.social-media-detail {
  font-size: 2rem;
  font-weight: 700;
}

.social-media-title {
  font-size: 4rem;

  span:first-of-type {
    color: rgb(3, 224, 3);
  }

  span:last-of-type {
    color: rgb(216, 43, 0);
  }
}

.white-wall {
  width: 100%;
  height: 200px;
  background-color: whitesmoke;
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
}

.scl-links-wrapper {
  width: 90%;
  height: 300px;
  margin-left: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.img-cell {
  width: 25%;
  height: 100%;
  flex: 0 1 30%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 100px;
  z-index: 1;
}

#links-container {
  display: none;
}

.scl-links,
.scl-imgs {
  height: 90%;
  flex: 0 1 auto;
}

.fa-facebook {
  font-size: 3rem;
  margin-top: -9px;
  color: rgb(218, 218, 218);
}

.fa-twitter {
  font-size: 3.18rem;
  margin-top: -12px;
  color: rgb(218, 218, 218);
}

.fa-twitter:hover {
  background-color: transparent;
  line-height: 38px;
  color: rgba(233, 71, 7, 0.76);
  transition: color 1.5s;
  border-radius: 50%;
}

.fa-facebook:hover {
  transition: color 1.5s;
  color: rgb(230, 47, 30);
  line-height: 45px;
}

.fa-whatsapp {
  font-size: 3.12rem;
  margin-top: -9px;
  border-radius: 50%;
  color: rgb(218, 218, 218);
  background-color: rgb(34, 34, 34);
  transition: all 2s ease;
}

.fa-whatsapp:hover {
  color: rgb(198, 218, 221);
  padding-top: -10px;
  line-height: 40px;
  background-color: rgb(206, 26, 2);
}
.scl-links {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: black;
  padding: 10px;
}

.scl-imgs {
  width: 100%;
}

// Services
.services {
  padding: 68px 0 0 0;
  display: grid;
  grid-template-columns: 50% 50%;

  &__detail {
    grid-column: 2;
    grid-row: 1 / span 2;
    background-color: #e6ecee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px 30px;
    order: 3;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;
    padding: 40px 30px;

    .title-our {
      color:#627000;
    }

    .title-services {
      color: #382f20;
    }
  }

  &__item {
    border-top: 2px solid;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 40px 10px 0;
    max-width: 500px;

    &-number {
      color: #666769;
      font-size: 2.7rem;
      letter-spacing: 3px;
      margin: 10px 20px 10px 10px;
      padding-right: 10px;
    }

    &-detail {
      h4 {
        font-size: 2.3rem;
      }

      .one {
        color: #737373;
      }

      .two {
        color: #6F7259;
      }

      .three {
        color: #8d8740;
      }
      
      p {
        font-size: 1.3rem;
      }
    }
  }

  &__graphic {
    max-width: 80%;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }
}

// events
.events__header {
  width: 100%;
  background-color: white;
}
.events {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background-position-y: 6rem;
  &__header {
    padding: 1rem 0;
    // border: solid red;
    h1 {
      text-transform: uppercase;
      max-width: 85%;
      margin: 0 auto;
      font-size: 2.5rem;
      color: darkgray;
      span:first-of-type {
        color: #deb887;
      }
      span:last-of-type {
        color: #c53030;
      }
    }
  }
  &__details {
    min-height: 90vh;
    max-width: 80%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
  }
  &__list {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1.2rem;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    padding-bottom: 1.5rem;
    &:not(:last-of-type) {
      position: relative;
    }
    &:not(:last-of-type)::after {
      content: "";
      position: absolute;
      transform: translate(-50%, -50%);
      bottom: 0;
      left: 50%;
      display: block;
      margin: 0 auto;
      width: 80%;
      border-bottom: 2px solid brown;
    }
    &-icon {
      font-size: 3.5rem;
    }
    &-details {
      h2 {
        text-transform: capitalize;
        font-weight: 500;
        span:first-of-type {
          color: #deb887;
        }
        span:last-of-type {
          color: #c53030;
        }
      }
      p {
        margin-top: 1rem;
      }
    }
  }
  &__graphic {
    width: 100%;
    img {
      max-width: 100%;
      display: inline-block;
    }
  }
}

// newsletter
.newsletter {
  background-color: #0e0808;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem 0 2rem 0;
  &__container {
    max-width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
    margin: 0 auto;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    h2 {
      font-size: 4rem;
      font-weight: 400;
      text-transform: capitalize;
      span:first-of-type {
        color: brown;
      }
      span:last-of-type {
        color: burlywood;
      }
    }
  }
  &__form {
    &-group {
      display: flex;
      flex-direction: column;
      label {
        text-transform: capitalize;
      }
      input {
        font-size: 1rem;
        padding: 0.5rem 0;
        margin-top: 0.7rem;
        border: none;
      }
    }
    &-submit {
      margin-top: 1rem;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 110px;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      background-color: darkgray;
      color: #0e0808;
      border: 2px solid transparent;
      cursor: pointer;
      &:hover {
        background-color: #0e0808;
        color: darkgray;
        border: 2px solid darkgray;
      }
    }
  }
  &__graphic {
    img {
      width: 100%;
    }
  }
}

/* ///////////////////////// Donations CSS //////////////////////////////////*/


.donation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .donation {
    flex-direction: column;
  }
}

.donationtitle {
  display: flex;
  font-family: 'Cormorant Garamond', serif;
  font-size: 4.5rem;
  color: rgba(1, 1, 1, 0.65);
  background-color: transparent;
  position: relative;
  top: -180%;
  left: 110%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 100%;
  margin-top: 10px;
  overflow-wrap: break-word;
}

@media screen and (max-width: 992px)and (min-width: 400px) {
  .donationtitle {
    width: 100%;
    left: 50%;
    top: 15%;
  }
}

.donationpara {
  display: flex;
  font-family: 'Cormorant Garamond', serif;
  background-color: rgba(1, 1, 1, 0.70);
  font-size: 1.7rem;
  color: white;
  position: relative;
  margin-top: 10px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50%;
  min-width: 50%;
  top: -160%;
  left: 70%;
  height: auto;
  text-align: center;
  overflow-wrap: break-word;
}

@media screen and (max-width: 992px)and (min-width: 400px) {
  .donationpara {
    width: 100%;
    left: 50%;
    float: none;
    font-size: 1rem;
  }
}

.a {
  color: burlywood;
}

.diff {
  color: brown;
}


.donationimg {
  width: 40%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .donationimg {
    object-fit: cover;
    width: 100%;
    padding-top: 5%;
    margin: 0;
  }
}

.learnmore {
  top: -10.5rem;
  left: 67%;
  transform: translate(-155%, -50%);
  border-radius: 20px;
  border: none;
  color: rgb(30, 90, 0);
  background-color: transparent;
  padding: .5vw;
  text-decoration: none;
  text-align: center;
  font-size: 40px;
  white-space: nowrap;
  display: flex;
  overflow-wrap: break-word;
}

.learnmore:hover,
.learnmore:active {
  letter-spacing: 5px;
}

.learnmore,
.learnmore {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: inline-flex;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  flex-direction: column;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .learnmore {
    top: 4rem;
    left: 45%;
    padding-top: 10px;
    font-size: 25px;
  }
}


/* 
.goback {
  top: .5rem;
  left: 40%;
  transform: translate(-155%, -50%);
  border-radius: 20px;
  border: none;
  color: rgb(30, 90, 0);
  background-color: transparent;
  padding: .5vw;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  white-space: nowrap;
}

.goback:hover,
.goback:active {
  letter-spacing: 5px;
}

.goback,
.goback {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
} */

.donbtns {
  width: 100%;

}

/* //////////////////////// Contact Section css /////////////////////////////*/

.contact-header {
  background-color: white;
  display: grid;
  float: left;
  width: 50%;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .contact-header {
    width: 100%;
    margin: 0;
    height: auto;
  }
}

.contacttitle {
  font-size: 4rem;
  color: darkgrey;
  padding-top: 2%;
  text-align: center;
}

.tact {
  color: burlywood;
}

.us {
  color: brown;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .contacttitle {
    text-align: center;
  }
}

.contactimg {
  width: 100%;
  height: auto;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 0;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .contactimg {
    width: 100%;
    padding-left: 0;
  }
}

.contact-section {
  background-image: url("../../assets/gray-background.jpg");
}

.contactus {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contactOne {
  text-align: center;
  padding: 1%;
  padding-top: 1%;
}

.contactTwo {
  text-align: center;
  padding: 1%;
  padding-top: 1%;
}

.contactThree {
  text-align: center;
  padding: 1%;
  padding-top: 1%;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .contactus {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

.contactSection {
  padding-top: 2%;
}

span {
  align-items: center;
}

.fa-facebook-square {
  font-size: 64px;
  color: #3b5998;
  background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%) url("../../assets/gray-background.jpg");
  padding-right: 7.5%;
  padding-left: 10%;
  background-color: transparent;
}

.fa-whatsapp {
  font-size: 64px;
  color: rgb(74, 201, 89);
  padding-right: 7.5%;
  background-color: transparent;
}

.fa-whatsapp:hover {
  background: transparent;
  color: rgb(74, 201, 89);
}

.fa-linkedin {
  font-size: 64px;
  color: rgb(40, 103, 178);
  padding-right: 7.5%;
  background-color: transparent;
}

.fa-twitter-square {
  font-size: 64px;
  color: rgb(29, 161, 242);
  padding-right: 4.5%;
  background-color: transparent;
}

@media screen and (max-width: 992px) and (min-width: 400px) {
  .contactSection {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 10%;
  }
}

/*///////////////////////// Questions css /////////////////////////////////// */
.question-section {
  background-image: url("../../assets/gray-background.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
  margin-top: 250px;
}

.header {
  font-size: 5vw;
  color: #a67f6d;
  font-family: ovo;
  text-align: center;
  margin: auto 0;
}

.header-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  height: 80%;
  margin: auto;
}

.header-container {
  width: 100%;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
}

.content-container {
  width: 80%;
  display: flex;
  flex-wrap: row wrap;
  margin: 150px auto;
}

.content-container .form-container,
.question-img {
  margin: auto;
  flex-basis: 45%;
}

.form-container {
  width: 50%;
  height: 30%;
  color: black;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0;
  position: relative;
}

.form-wrapper {
  display: flex;
  flex-flow: column wrap;
  margin: auto 0;
  height: 10%;
}

.form-intro {
  width: 50%;

  font-size: 1rem;
  margin: auto;
  padding-bottom: 20px;
}

.question-img {
  width: 50%;
  height: 400px;
}

#title {
  height: 60px;
  border: solid 6px white;
}


#title,
#text-box,
#form-btn {
  width: 80%;
  align-items: center;
  margin: auto;
  margin-top: 10px;

  background: transparent;
}

#title::placeholder,
#text-box::placeholder {
  margin: auto;
  font-size: 24px;
  color: black;
  text-align: center;
}

#title:focus, 
#text-box:focus{
  width:82%;
  font-size:28px;
  color:rgb(44, 43, 43);
  border:solid 8px black;
  outline:none;
}

#text-box {
  height: 120px;
  border: solid 6px white;
}

#form-btn {
  width: 40%;
  height: 40px;
  margin: 15px 60px;
  color: white;
  font-weight: 700;
  background-color: #312e2d;
  border-radius: 30px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column wrap;
}

#form-btn:hover {
  cursor: pointer;
}

#btn-arrow-hex {
  font-size: 23px;
}

/*# sourceMappingURL=main.css.map */

@import "./mobile";
